{{ header }}
<div id="account-login" class="container">
    <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
            <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
    </ul>
    {% if success %}
        <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}</div>
    {% endif %}
    {% if error_warning %}
        <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}</div>
    {% endif %}
    <div class="row">{{ column_left }}
        {% if column_left and column_right %}
            {% set class = 'col-sm-6' %}
        {% elseif column_left or column_right %}
            {% set class = 'col-sm-9' %}
        {% else %}
            {% set class = 'col-sm-12' %}
        {% endif %}
        <div id="content" class="{{ class }}">{{ content_top }}
            <div class="row">
                <div class="col-sm-12">
                    <div class="well">
                        <h2>{{ text_authenticate }}</h2>
                        <p><strong>{{ text_authenticate_description }}</strong></p>
                        <form action="{{ action }}" method="post" enctype="multipart/form-data">
                            <div class="form-group">
                                <label class="control-label" for="input-email">{{ entry_code }}</label>
                                <input type="text" name="code" placeholder="{{ entry_code }}" id="input-code" class="form-control" />
                            </div>
                            <input type="submit" value="{{ button_authenticate }}" class="btn btn-primary" />
                            {% if redirect %}
                                <input type="hidden" name="redirect" value="{{ redirect }}" />
                            {% endif %}
                        </form>
                    </div>
                </div>
            </div>
            {{ content_bottom }}</div>
        {{ column_right }}</div>
</div>
{{ footer }}